#comentarios {
    width: 100%;
    background-color: #12426d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4em 0em;

    .star{
        width: 100px;
    }
    
    #title-ava{
        font-size: 3em;
        font-family: var(--font-global);
        color: #fff;
    }
}

#avalia-box {
    width: 73%;
    display: flex;
    gap: 1em;
    margin-top: 2em;
    padding: 2em;
    margin-bottom: 2em;
}

.perfil-box {
    background-color: #fff;
    width: 25%;
    height: 12em;
    padding: 1.5em 20px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    border-radius: 20px;

    .perfil {
        display: flex;
        align-items: center;
        gap: 1em;
        margin-right: auto;
        padding: 2px;


    }

    &:hover {
        transform: rotate(10deg);
        transition: .5s;
    }
}

#fotopf{
    height: 50px;
}


.cima {
    display: flex;
    align-items: center;

   

    img:last-child {
        width: 20px;
    }

    h1 {
        font-size: 16px;
        font-family: sans-serif;
    }

    .stars {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        justify-content: center;

        & img {
            width: 5em;
        }
    }
}

.baixo {
    p {
        text-align: start;
        font-family: sans-serif;
        font-size: 14px;
    }
}

#logopt{
    opacity: .5;
    width: 130px;
}