#slider {
    width: 100%;
    margin: 4em 0em;
    overflow-x: hidden;
}




#feed {
    width: 400%;
    display: flex;


    input {
        display: none;
    }
}


.formato-antdps {
    width: 25%;
    display: flex;
    align-items: center;
    transition: 1s;
    position: relative;
    padding: 4em;

}

.nav-manual,
.nav-auto {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100vw;
    margin-top: 30%;


    .manual-btn {
        border: 1px solid #1f71b9;
        padding: 10px;
        border-radius: 50%;
        cursor: pointer;
        transition: .5s;

        &:not(:last-child) {
            margin-right: 10px;
        }

        &:hover {
            background-color: #1f71b9;
        }
    }
}

.nav-auto div {
    border: 1px solid #1f71b9;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: .5s;

    &:not(:last-child) {
        margin-right: 10px;
    }

    &:hover {
        background-color: #1f71b9;
    }
}



.antdps {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    background: linear-gradient(#0f3557, #1f71b9);
    padding: 4em;
    border-radius: 50px;
    width: 100%;
    gap: 1em;

    img:nth-child(1),
    img:nth-child(3) {
        border-radius: 25px;
        width: 18em;
        height: 18em;
        box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.623);
    }
}

.descricao {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    gap: 2em;

    h1,
    p {
        font-family: var(--font-visual);

        color: #0f3658;

    }

    h1 {
        font-size: 3.5em;
    }

    p {
        font-size: 1.5rem;
    }
}

#radio1:checked~.nav-auto .auto-btn1 {
    background-color: #1f71b9;
}

#radio2:checked~.nav-auto .auto-btn2 {
    background-color: #1f71b9;
}

#radio3:checked~.nav-auto .auto-btn3 {
    background-color: #1f71b9;
}

#radio4:checked~.nav-auto .auto-btn4 {
    background-color: #1f71b9;
}

#radio1:checked~.primeiro {
    margin-left: 0%;
}

#radio2:checked~.primeiro {
    margin-left: -25%;
}

#radio3:checked~.primeiro {
    margin-left: -50%;
}

#radio4:checked~.primeiro {
    margin-left: -75%;
}



@media screen and (max-width:500px) {
    #slider {
        width: 100%;
        margin: 4em 0em;
        overflow-x: hidden;
    }




    #feed {
        width: 400%;
        display: flex;


        input {
            display: none;
        }
    }


    .formato-antdps {
        width: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: 1s;
        position: relative;
        padding: 1em;

    }

    .nav-manual,
    .nav-auto {
        position: absolute;
        display: flex;
        justify-content: center;
        width: 100vw;
        margin-top: -8%;


        .manual-btn {
            border: 1px solid #1f71b9;
            padding: 10px;
            border-radius: 50%;
            cursor: pointer;
            transition: .5s;

            &:not(:last-child) {
                margin-right: 10px;
            }

            &:hover {
                background-color: #1f71b9;
            }
        }
    }

    .nav-auto div {
        border: 1px solid #1f71b9;
        padding: 10px;
        border-radius: 50%;
        cursor: pointer;
        transition: .5s;

        &:not(:last-child) {
            margin-right: 10px;
        }

        &:hover {
            background-color: #1f71b9;
        }
    }



    .antdps {
        display: flex;
        align-items: center;
        justify-content: center;
        height: auto;
        background: linear-gradient(#0f3557, #1f71b9);
        padding: 1em;
        border-radius: 18px;
        width: 100%;
        gap: 0em;

        img:nth-child(1),
        img:nth-child(3) {
            border-radius: 10px;
            width: 10em;
            height: 10em;
            box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.623);
        }

        img:nth-child(2) {
            width: 5em;
        }
    }

    .descricao {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 1em;
        margin-top: 1em;

        h1,
        p {
            font-family: var(--font-visual);

            color: #0f3658;

        }

        h1 {
            font-size: 2em;
        }

        p {
            font-size: 1em;
            align-self: center;
            margin-inline: 1em;
        }
    }

    #radio1:checked~.nav-auto .auto-btn1 {
        background-color: #1f71b9;
    }

    #radio2:checked~.nav-auto .auto-btn2 {
        background-color: #1f71b9;
    }

    #radio3:checked~.nav-auto .auto-btn3 {
        background-color: #1f71b9;
    }

    #radio4:checked~.nav-auto .auto-btn4 {
        background-color: #1f71b9;
    }

    #radio1:checked~.primeiro {
        margin-left: 0%;
    }

    #radio2:checked~.primeiro {
        margin-left: -25%;
    }

    #radio3:checked~.primeiro {
        margin-left: -50%;
    }

    #radio4:checked~.primeiro {
        margin-left: -75%;
    }
}