#feed {
    width: 100vw;
    padding: 4em 2em;
}

#formato-antdps {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 3.5em;
    
}

#antdps {
    display: flex;
    align-items: center;
    height:25em ;
    background: linear-gradient(#0f3557, #1f71b9) ;
    padding: 0em 4em;
    border-radius: 50px;

    img:nth-child(1), img:nth-child(3){
        border-radius: 25px;
        width: 18em;
        height: 18em;
        box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.623);
    }
}

#descricao{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 100%;
    gap: 2em;

    h1, p{
        font-family: var(--font-visual);
        
        color: #0f3658;
        
    }

    h1{
        font-size: 3.5em;
    }

    p{
        font-size: 1.5rem;
    }
}