footer {
    width: 100%;
    height: 30em;
    background-color: #12426d;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contato {

    h1 {
        font-size: 3em;
        font-family: var(--font-global);
        color: #fff;
        margin-bottom: .5em;
    }

    a {
        color: #fff;
        font-size: 18px;
        font-family: var(--font-visual);
    }
}

#logofooter {
    width: 30em;
    opacity: .4;
}


.icons {
    display: flex;
    gap: 2em;
}

@media screen and (max-width:500px) {
    footer {
        width: 100%;
        height: 30em;
        background-color: #12426d;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 4em;
    }

    #logofooter {
        width: 10em;
        opacity: .4;
    }
}