*{
    
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    overflow-x: hidden;
    
}

body{
    background-color: #fff;
    width: 100%;
    
}

a{
    text-decoration:none;
    display: flex;
    
}

:root{
    --font-global: "Google Sans Flex", sans-serif;
    --font-visual: "SN Pro", sans-serif;
}