*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    background-color: #fff;
}

a{
    text-decoration:none;
    display: flex;
    
}

:root{
    --font-global: "Google Sans Flex", sans-serif;
}