*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #fff;
    overflow-x: hidden;
    width: 100vw;
}

a{
    text-decoration:none;
    display: flex;
    
}

:root{
    --font-global: "Google Sans Flex", sans-serif;
    --font-visual: "SN Pro", sans-serif;
}