
header{
    width: 100vw;
    height: 75px;
    background-color: #209ee2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 20px;

    div{
        display: flex;
        gap: 20px;
    }
    
}

#logo{
    width: 100px;
    
    
}

#whatsapp, #instagram{
    width: 25px;
    
}

