header {
    width: 100%;
    height: 7.5em;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 3em;



}

#logo {
    width: 11em;



}

#whatsapp,
#instagram {
    width: 40px;

}

@media screen and (max-width: 600px) {
    header {
        padding-inline: 1em;
    }

    #logo {
        width: 8em;



    }

    #whatsapp,
    #instagram {
        width: 35px;

    }
}