
header{
    width: 100vw;
    height: 7em;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 20px;

    div{
        display: flex;
        gap: 30px;
        margin-right: 4em;
    }
    
}

#logo{
    width: 10em;
    margin-left: 3em;
    
    
}

#whatsapp, #instagram{
    width: 40px;
    
}

