#maps {
    width: 100%;
    background-color: #2d9dff;
    border-radius: 100px 100px 0% 0%;
    margin-top: 8em;
    padding-bottom: 3em;
}

#faixa2 {
    width: 100%;
    height: 9em;
    background-color: #1f71b9;
    border-radius: 100px 100px 0% 0%;


    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;


    h1 {
        font-family: var(--font-global);
        font-size: 3em;
        font-weight: 600;
        color: #ffffff;
        text-shadow: 0px 0px 8px #ffffff88;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: .5em;
    }
}

#img-maps {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 6em 10em 2em 6em;
    gap: 8em;



    .maps {
        width: 100em;
    }

}

#text {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: var(--font-visual);
    gap: 2em;
    background-color: rgba(0, 0, 0, 0.308);
    padding: 3em 1em;
    border-radius: 50px;

    h1 {
        font-size: 3em;
        color: #fff;


    }

    p {
        font-size: 1.7em;
        font-weight: bold;
        color: #fff;
    }

    a {
        background-color: #25D366;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: sans-serif;
        font-size: 1.2em;
        font-weight: bold;
        padding: .9em;
        border-radius: 25px;

        gap: .5em;
        color: #fff;
        width: 9em;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.363);

        img {
            width: 1.7em;
        }


        &:hover {
            transform: scale(1.3);
            transition: .5s;
        }

    }
}


@media screen and (max-width:500px) {
    #maps {
        width: 100%;
        background-color: #2d9dff;
        border-radius: 50px 50px 0% 0%;
        margin-top: 1em;
        padding-bottom: 3em;
    }

    #faixa2 {
        width: 100%;
        height: 4.5em;
        background-color: #1f71b9;
        border-radius: 50px 50px 0% 0%;
        padding-inline: 18px;

        display: flex;
        justify-content: center;
        align-items: center;

        text-align: center;


        h1 {
            font-family: var(--font-global);
            font-size: 1.5em;
            font-weight: 600;
            color: #ffffff;
            text-shadow: 0px 0px 8px #ffffff88;

            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0em;
        }
    }

    #img-maps {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 1em 1em 1em 1em;
        gap: 2em;



        .maps {
            width: 20em;
        }

    }

    #text {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        font-family: var(--font-visual);
        gap: 1em;
        background-color: rgba(0, 0, 0, 0.308);
        padding: 1em 1em;
        border-radius: 50px;

        #logo {
            width: 100px;
        }
        h1 {
            font-size: 1.5em;
            color: #fff;


        }

        p {
            font-size: 1em;
            font-weight: bold;
            color: #fff;
        }

        a {
            background-color: #25D366;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: sans-serif;
            font-size: 1em;
            font-weight: bold;
            padding: .9em;
            border-radius: 25px;

            gap: .2em;
            color: #fff;
            width: 9em;
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.363);

            img {
                width: 1.3em;
            }


            

        }
    }
}