
#banner {
    background-image: url(../.midia/sofa.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 50em;
    padding: 0;
    border-radius: 0% 0% 25% 25%;
    width: 100%;
}

#conteudo {
    height: 100%;
    width: 100%;
    background-color: #2995f3a2;
    border-radius: 0% 0% 25% 25%;
    
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
    

    h1 {
        font-family: var(--font-global);
        margin-top: 1.3em;
        font-size: 3.5em;
        color: #fff;
        width: 22em;
        text-align: center;
        
    }
}

#itens{
    
    width: 35em;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-top: 4em;
    gap: .8em;
}

.itens{
    
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    padding: 8px;
    gap: 10px;
    font-family: var(--font-global);
    font-weight:bold;
    font-size: 2em;
    color: #fff;
    text-align:end;

    img{
        width: 2em;
        
    }
    
}

#botao{
    background-color: #25D366;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    padding: .9em;
    border-radius: 25px;
    margin-top: 1.9em;
    gap: .5em;
    color: #fff ;
    width: 10em;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.363);

    img{
        width: 1.7em;
    }
}

#botao:hover{
    transform: scale(1.1);
    transition: .2s;
}

#visual{
    margin-top: 5em;
    width: 100%;
    height: 45em;
    background-color: #6a9628;
    box-shadow: 0px -1px 5px black;
}
