section{
    height: 800px;
    display: flex;
    background-image: linear-gradient(to top, #4facfe 30%, #fff 50%);

    
}

#logomeio{
    display: flex;
    flex-direction: column;

    img{
        
        width: 400px;
        
    }
}