
#banner {
    background-image: url(../.midia/sofa.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 50em;
    padding: 0;
    border-radius: 0% 0% 200px 200px;
    width: 100%;
}

#conteudo {
    height: 100%;
    width: 100%;
    background-color: #2995f370;
    border-radius: 0% 0% 200px 200px;
    
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
    

    h1 {
        font-family: var(--font-global);
        margin-top: 1.3em;
        font-size: 3.5em;
        color: #fff;
        width: 22em;
        text-align: center;
        
    }
}

#itens{
    
    width: 35em;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-top: 4em;
    gap: .8em;
}

.itens{
    
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    padding: 8px;
    gap: 10px;
    font-family: var(--font-global);
    font-weight:bold;
    font-size: 2em;
    color: #fff;
    text-align:end;

    img{
        width: 2em;
        
    }
    
}

#botao{
    background-color: #25D366;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    padding: .9em;
    border-radius: 25px;
    margin-top: 1.9em;
    gap: .5em;
    color: #fff ;
    width: 10em;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.363);

    img{
        width: 1.7em;
    }
}

#botao:hover{
    transform: scale(1.1);
    transition: .2s;
}

/*--------------------section 2---------------------*/

#visual{
    margin-top: 5em;
    width: 100%;
    
    background-color: #2995f3;
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    

    h1, p{
        text-align: center;
        font-family: var(--font-global);
        color: #fff;
        
    }

    h1{
        font-size: 3.7em;
        margin-top: .5em;
        margin-bottom: .7em;
        font-weight: bolder;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .5em;

        
    }

    h1:nth-child(2){
        font-size: 3em;
    }

    img:nth-child(1){
        width: 5em;
        margin-top: 2.5em;
        opacity: .4;
    }

    img:nth-child(7){
        width: 8em;
        margin-bottom:3em ;
        opacity: .4;
        margin-top: 1em;
    }

    

    p{
        width: 50%;
        font-size: 1.7em;
        text-align: center;
        
    }


}

#borda{
    width: 50%;
    border-bottom: 5px solid rgb(255, 255, 255) ;
    margin-top: 3em;
    margin-bottom: 1.5em;
    border-radius: 50px;
}

/* ----------------- Fotos --------------------*/

#fotos{
    width: 100%;   
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4em;
    padding: 2em 5em;

}

.formato {
    width: 100%;
    height: 100%;
    background-color: #2995f34b;
    border-radius: 1.5em;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.527);
    position: absolute;
    border: 2px solid #ffffff5b;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 1.5em;
    padding-top: 4.5em;

    a{
        background-color: rgb(255, 255, 255);
        padding: 1em 2em;
        border-radius: .8em;
        text-transform: uppercase;
        font-family: var(--font-visual);
        font-weight: bold;
        color: #000;
    }

    a:hover{
        background-color: rgba(0, 0, 0, 0.568);
        color: #fff;
        transform: scale(1.1);
        transition: .3s;
        box-shadow: 0px 0px 15px #fff;
    }
}

.formato:hover{
    background-color:#72a02d13 ;
    transition: 0.5s;
    transform: scale(1);
    box-shadow: none;
}

#sofa{
    width: 24em;
    height: 24em;
    background-image: url(../.midia/sofait.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1.5em;
    position: relative;
    

    h1{
        position: relative;
        z-index: 1;
        font-size: 3em;
    }

    

   
}


#sofa:hover{
    transform: scale(1.1);
    transition: 0.5s;
    
}

#carpet{
    width: 24em;
    height: 24em;
    background-image: url(../.midia/capetit.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1.5em;
    position: relative;
    h1{
        position: relative;
        z-index: 1;
        font-size: 3em;
    }
}

#carpet:hover{
    transform: scale(1.1);
    transition: 0.5s;
    
}

#colchao{
    width: 24em;
    height: 24em;
    background-image: url(../.midia/colchaoit.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1.5em;
    position: relative;
    h1{
        position: relative;
        z-index: 1;
        font-size: 3em;
    }
}

#colchao:hover{
    transform: scale(1.1);
    transition: 0.5s;
    
}


/*--------------------------------------------------faixa de satisfação*----------------------------------------*/


#proxima{ 
    height: 80em;
    width: 100%;
}



#faixa{
    width: 100%;
    height: 13.875em;
    background-color: #12426d;
    display: flex;
    align-items: center;
    justify-content: space-around;

    p{
        font-family: var(--font-global);
        font-size: 2.3em;
        font-weight: 600;
        color: #ffffffa9;
        text-shadow: 0px 0px 8px #ffffff88;
        
    }

    img{
            width: 5em;
            opacity: .7;
            
        }

  


}

    .fist{
        border-right:2px solid rgba(255, 255, 255, 0.473) ;
    }


 .avaliacao{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    width: 100%;
    margin: auto;
    height: 9em;
   }

   
